<div class="container">
  <h1>Edit Task</h1>

      <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
    
  <%= form_for @task do |f| %>
    <%= f.label :title, class:'form-label' %>
    <%= f.text_field :title, class:'form-control' %>

    <%= f.label :details, class:'form-label mt-3' %>
    <%= f.text_field :details, class:'form-control' %>
    <%# textarea %>
  <div class="container d-flex mt-3">
    <%= f.check_box :completed, class:'form-check-input'%>
    <%= f.label :completed, class:'form-label px-3' %>
  </div>
  
  <div class="container d-flex">
    <%= f.submit class:"btn btn-primary mt-3" %>
  </div>
  <% end %>
</div>